.contenedor{
    margin-bottom: 20px;
    background: #0d6efd;
    color: #fff;
    min-height: 100px;
}
.contenedor > div{
    background-color: rgba(255, 255, 255, .2);
    padding: 15px 20px;
    border: 1px solid #0d6efd ;
}